@charset "UTF-8";
#selectBanner {
  width: 300px;
  height: 400px;
}

#selectBanner .select-items {
  list-style: none;
}

#selectBanner .select-items button {
  font-family: "微软雅黑";
  cursor: pointer;
  outline: hidden;
  width: 150px;
  border: none;
  height: 65px;
  background-color: #4ba4fb;
  color: #fff;
  font-size: 25px;
  margin-bottom: 15px;
}

#selectBanner .select-items button:hover {
  border: none;
  cursor: pointer;
  background-color: #0B7FEC;
}

#shanbei-words {
  width: 300px;
  height: 600px;
  background-color: rgba(186, 180, 180, 0.16);
}

#shanbei-words #words-title {
  background-color: #00B839;
  color: #fff;
}

#shanbei-words #words-title a {
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
}

.clear-fix {
  clear: both;
  *zoom: 1;
}

.clear-fix::before, .clear-fix::after {
  content: "";
  display: table;
}
